.profile
  .wrap_left
    .profile__me
      = image_tag('members_profile/dmbyun.png', id: 'me')
    %h3.profile__name
      변동명<br>
      %small.profile__position Developer
  .wrap_right
    = image_tag('members_triangle.png', id: 'balloon')
    %p#content
      안녕하세요:)
