.profile
  #info
    = image_tag('members/eslee.jpg', alt: 'ESLEE')
    %h2.profile__name
      이은섭
      %small.profile__position Operator
  #blah_blah
    %p#content
      배가 좋아 직접 배를 설계하고 싶어 기계과에 진학했던 청년이 전공을 두고 잠시 외도를 하며 
      더웨일게임즈에 인턴으로 입사,  
      로켓을 타라는 대표님의 말씀에 솔깃하여 정직원으로 신분전환 후 
      내가 탄 로켓이 나로호가 되지 않기 위해 고군분투 중입니다.
      학교와 회사 그리고 덕질을 병행하며 세가지 일 모두 잘하려고 하루하루 노력중입니다..
