.profile
  .wrap_left
    = image_tag('members/jhlim.jpg', id: 'me')
    %h3.profile__name
      임준홍<br>
      %small.profile__position Creator
  .wrap_right
    = image_tag('members_triangle.png', id: 'balloon')
    %p#content
      게임과 웹툰이 좋습니다
