.profile
  .wrap_left
    = image_tag('members/jwchoi.png', id: 'me')
    %h3.profile__name
      최재원<br>
      %small.profile__position Operator
  .wrap_right
    = image_tag('members_triangle.png', id: 'balloon')
    %p#content
      안녕하세요
