.profile
  = image_tag('members/kyjung.jpg')
  %h2.profile__name
    정기엽
    %small.profile__position ART DIRECTOR
%p
  때는 바야흐로 2001년, 단국대 시각디자인과에서 신나게 놀다보니 어느새 넥슨이라는
  회사에서 게임그래픽을 하고 있었습니다. 6년간 신나게 게임배경을 그리다가 사이드로
  창업전선의 맛을 보다보니 퇴사를 하고 회사를 차리게 되었고 2년간 신나게 담금질을
  합니다. 눈물을 머금고, 정신 못차리고 또 더웨일게임즈라는 스타트업의 요단강을
  건너게 되는데... 다음화에 계속...<br>
  야영과 이종격투기에 심취해 있으나 겉보기완 다르게 평화주의자라 사납지 않습니다.
  청소를 잘하지만 정작 본인의 청소는 잘 생각하지 않는 듯 합니다. 드레드는 6년 넘게
  유지 중이며 머리는 일반인과 동일하게 감습니다. 샴푸냄새가 이틀간 지속되기 때문에
  이틀에 한번은 꼭 머리를 감습니다. 피스!
