.profile
  .wrap_left
    = image_tag('members/mjkang.jpg', id: 'me')
    %h3.profile__name
      강민주<br>
      %small.profile__position Developer
  .wrap_right
    = image_tag('members_triangle.png', id: 'balloon')
    %p#content
      안녕하세요
