.profile
  = image_tag('members/sbpark.jpg')
  %h2.profile__name
    박성빈
    %small.profile__position 통큰골빈
%p
  배코에서 통큰골빈이란 닉으로 만화를 그리고 있습니다<br>
  하루에 16번정도 닉네임을 잘못 지었다는 생각을 하고 있습니다<br>
  군대가기 싫어요...
