.profile
  .wrap_left
    .profile__me
      = image_tag('members/sbpark.png', id: 'me')
    %h3.profile__name
      박성빈<br>
      %small.profile__position 통큰골빈
  .wrap_right
    = image_tag('members_triangle.png', id: 'balloon')
    %p#content
      배코에서 통큰골빈이란 닉으로<br>
      만화를 그리고 있습니다<br>
      하루에 16번정도<br> 
      닉네임을 잘못 지었다는 생각을 하고 있습니다<br>
      군대가기 싫어요...
