.profile
  .wrap_left
    .profile__me
      = image_tag('members_profile/skkwon.png', id: 'me')
    %h3.profile__name
      권성기<br>
      %small.profile__position DEV. team manager
  .wrap_right
    = image_tag('members_triangle.png', id: 'balloon')
    %p#content
      #example
        :code
          # lang: java
          import values.reliance;
          import values.passion;

          import works.web.*;
          import works.db.*;
          import works.mobile.*;
          import works.server.*;

          import like.games.heroesofthestorm;
          import like.sports.snowboard;

          public class MyLife {
            public static int MY_AGE = 36;

            public static void main(String[] args) {
              for (int i = 0; i < 4; i++) {
              workITVMG(1year); // 개고생
              MY_AGE++;
              }

              workZeein(1year); // 회사망함
              MY_AGE++;

              while(true) {
                workTheWhaleGames(1year); // 매우 즐겁게 일하고 있음!
                MY_AGE++;
                if(MY_MONEY > 100000000) {
                  buyBMW(); buyTowerPlace(); WorldTravle();
                }
                if(MY_AGE > 100) break;
              }
            }
          }

