%h2
  윤승규
  %small COO
%p
  서울대 경영학과 졸업<br>
  삼성전자 무선사업부 입사 후 2년 만에 퇴사<br>
  모범적인 한국 청년의 삶 강제종료<br>
  '이건 아니야...'<br>
  <br>
  내 멋대로 살기 시작
  전통주 사업 시작 - 명가원 (경남 함양) / 얼마나 내가 순진한지만 확인 후 종료<br>
  펍 오픈 - 리믹스랩 (서울 홍대/상수) / 2년 반 동안 운영<br>
  스타트업 시작 - 더웨일게임즈 / Co-founder로 합류하여 개발 빼고 다 함.<br>
  전지적 잡가. 순수의 결정체.<br>
  <br>
  이상.
