.profile
  = image_tag('members/sybae.jpg', alt: 'SYBAE')
  %h2.profile__name
    배승윤
    %small.profile__position Manager
%p
  '학생들에게 꿈과 희망을...' 이라는 생각을 갖고 교직에서 일한지 언 4년...<br>
  '꿈과 희망은 개뿔...난 역시 학교랑 안맞음' 이라는 생각을 십수년만에 다시 확인한 후..<br>
  배코에 입사하게된..좋아하는 게임과 웹툰분야에서 일하게 되어 매우 기쁜 1人 입니다.
