.profile
  .wrap_left
    .profile__me
      = image_tag('members/yskim.png', id: 'me')
    %h3.profile__name
      김영신<br>
      %small.profile__position Manager
  .wrap_right
    = image_tag('members_triangle.png', id: 'balloon')
    %p#content
      안녕하세요:)
