@-webkit-keyframes dance {
  0% { bottom : 1%; }
  50% { bottom: 7%; } 
  100% { bottom: 1%; }
}
@keyframes dance {
  0% { bottom :1%; }
  50% { bottom: 7%; } 
  100% { bottom: 1%; }
}

@-webkit-keyframes danceReverse {
  0% { bottom : 7%; }
  50% { bottom: 1%; }
  100% { bottom: 7%; }
}
@keyframes danceReverse {
  0% { bottom : 7%; }
  50% { bottom: 1%; }
  100% { bottom: 7%; }
}

.animation_dance {
  -webkit-animation-name: dance;
  animation-name: dance;

}

.animation_danceReverse {
  -webkit-animation-name: danceReverse;
  animation-name: danceReverse;
}

.dance_property {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
