@-webkit-keyframes dance {
  0% { bottom : 1%; }
  50% { bottom: 7%; } 
  100% { bottom: 1%; }
}
@keyframes dance {
  0% { bottom :1%; }
  50% { bottom: 7%; } 
  100% { bottom: 1%; }
}

.animation_dance {
  -webkit-animation-name: dance;
  animation-name: dance;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes shake {
  0% { 
    -webkit-transform : rotate(10deg); 
    -moz-transform : rotate(10deg); 
    -ms-transform : rotate(10deg); 
    transform : rotate(10deg); 
  } 
  100% {
    -webkit-transform : rotate(-10deg); 
    -moz-transform : rotate(-10deg); 
    -ms-transform : rotate(-10deg); 
    transform : rotate(-10deg); 
  }
}

@keyframes shake {
  0% { 
    -webkit-transform : rotate(10deg); 
    -moz-transform : rotate(10deg); 
    -ms-transform : rotate(10deg); 
    transform : rotate(10deg); 
  } 
  100% {
    -webkit-transform : rotate(-10deg); 
    -moz-transform : rotate(-10deg); 
    -ms-transform : rotate(-10deg); 
    transform : rotate(-10deg); 
  }
}

.animation_shake {
  -webkit-animation-name: shake;
  animation-name: shake;
   -webkit-animation-duration: 0.04s;
  animation-duration: 0.04s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
} 
