@-webkit-keyframes dance {
  0% { bottom : 1vh; }
  50% { bottom: 7vh; } 
  100% { bottom: 1vh; }
}
@keyframes dance {
  0% { bottom :1vh; }
  50% { bottom: 7vh; } 
  100% { bottom: 1vh; }
}

@-webkit-keyframes danceReverse {
  0% { bottom : 7vh; }
  50% { bottom: 1vh; }
  100% { bottom: 7vh; }
}
@keyframes danceReverse {
  0% { bottom : 7vh; }
  50% { bottom: 1vh; }
  100% { bottom: 7vh; }
}

.animation_dance {
  -webkit-animation-name: dance;
  animation-name: dance;

}

.animation_danceReverse {
  -webkit-animation-name: danceReverse;
  animation-name: danceReverse;
}

.dance_property {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
