footer {
  height: 7%;
  background: #303030;
  color: $light-gray;

  a {
    color: $medium-gray;
    &:hover {
      color: $light-gray;
    }
  }

  .wrap-container-footer {
    position: relative;

    address {
    display: inline-block;
  }
    

    padding: $base-spacing;

    .contact {
      float: right;
    }
  }
}
