/*src : http://codepen.io/bluehaus/pen/EfGyi*/

.hero {
  height : 100vh;

  .gradient {
    height: 94vh;
    background: -webkit-linear-gradient($ci-primary, #ab4375); /*for safari 5.1 to 6.0*/
    background: -o-linear-gradient($ci-primary, #ab4375); /*for opera 11.1 to 12.0*/
    background: -moz-linear-gradient($ci-primary, #ab4375); /*for firefox 3.6 to 15*/
    background: linear-gradient($ci-primary, #ab4375); /*default syntax*/
  }

  font-family: $base-font-kr;
  font-weight: lighter;
  font-size : $base-font-size/1.5;
  color: white;

  text-align: center;

  -webkit-align-items : center;
  align-items : center;
  -webkit-justify-content : center;
  justify-content : center;

  .wrap-container
  {
    height : inherit;

    img.center_logo {
      /*make things invisible upon start*/
      /*opacity : 0;*/

      /*-webkit-animation-delay : 2s;*/
      /*-moz-animation-delay : 2s;*/
      /*animation-delay : 2s;*/

      position: absolute;
      left : 50%;

      margin-top : 20vh;

      width: 20%;
    }

    .vision {
      /*make things invisible upon start*/
      /*opacity : 0;*/

      /*call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time*/
      /*-webkit-animation : fadeIn ease-in 1;*/
      /*-moz-animation : fadeIn ease-in 1;*/
      /*animation : fadeIn ease-in 1;*/

      /*this makes sure that after animation is done we remain at the last keyframe value(opacity : 1)*/
      /*-webkit-animation-fill-mode : forwards;*/
      /*-moz-animation-fill-mode : forwards;*/
      /*animation-fill-mode : forwards;*/

      /*-webkit-animation-duration : 1s;*/
      /*-moz-animation-duration : 1s;*/
      /*animation-duration : 1s;*/

      /*-webkit-animation-delay : 4s;*/
      /*-moz-animation-delay : 4s;*/
      /*animation-delay : 4s;*/

      position: absolute;
      top : 43vh;
      left: 50%;

      @include media($medium-screen) {
        font-size: 1.5em;
      }
    }

    .detail {
      position: absolute;
      left: 50vw;
      bottom: 0;

      display: inline-block;

      .scroll {
        /*make things invisible upon start*/
        /*opacity : 0;*/

        /*call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time*/
        /*-webkit-animation : fadeIn ease-in 1;*/
        /*-moz-animation : fadeIn ease-in 1;*/
        /*animation : fadeIn ease-in 1;*/

        /*this makes sure that after animation is done we remain at the last keyframe value(opacity : 1)*/
        /*-webkit-animation-fill-mode : forwards;*/
        /*-moz-animation-fill-mode : forwards;*/
        /*animation-fill-mode : forwards;*/

        /*-webkit-animation-duration : 1s;*/
        /*-moz-animation-duration : 1s;*/
        /*animation-duration : 1s;*/

        /*-webkit-animation-delay : 4.8s;*/
        /*-moz-animation-delay : 4.8s;*/
        /*animation-delay : 4.8s;*/
        /*font-family : $base-font-en;*/
        font-size : 1.2em;
        margin-bottom : 0.2em;

        position: relative;
        bottom : 7.2vh;
      }

      img.scroll_img {
        position: relative;
        bottom: 7vh;  

        height: 15vh;        
      }

      .scroll:hover{
        cursor: default;
        color: lighten(yellow, 40);
      }
    }

    .people_dancing {
      img {
        position: absolute;
        bottom: 4vh;
        width: 3%;
      } 

      .skkwon {
        left: 9%;
      }
      .sbpark {
        left: 18%;
      }
      .sybae {
        left: 27%;
      }
      .fred {
        left: 36%;
      }
      .skyoon {
        left: 45%; 
      }
      .eslee {
        left: 54%;
      }
      .jhlim {
        left: 63%;
      }
      .kyjung {
        left: 72%;
      }
      .jwheo {
        left: 81%;
      }
    }

    .deco_end {
      position: absolute;
      left: 0;
      bottom : 0;

      height: 8vh;
      width: 100%;
      background-image: url('../../images/pattern01.png');
      background-repeat: repeat;
    } 
  }
}
