.hero {
  font-weight: lighter;
  color: white;
  .global-nav-item a {
    color: white;
  }

  height: 100%;

  .wrap-container {
    height: inherit;
    text-align: center;
    position: relative;

    img.center_logo {
      width: 410px;
      height: 170px;
      position: absolute;
      top: 50%;
      left : 50%;

      -webkit-transform: translate(-50%, -100%);
      -moz-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
    }

    p.vision {
      margin-top: 28px;
      font-family: 'Apple SD Gothic Neo Thin', 'Nanum Barun Gothic UltraLight';

      position: absolute;
      top: 50%;
      left: 50%;

      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .detail {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);

      .scroll {
        display: inline-block;
        font-size: 0.8em;

        p {
          margin: 0;
          position: absolute;
          top: 0;

          -webkit-transform: translateY(-105%);
          -moz-transform: translateY(-105%);
          -ms-transform: translateY(-105%);
          transform: translateY(-105%);
        }
      }

      .scroll:hover {
        cursor: default;
        opacity: .3;
        p {
          opacity: .3;
        }
      }
    }

    .people_dancing {
      -webkit-backface-visibility: hidden;
      width: 100%;
      position: absolute;
      bottom: 0;

      img {
        display: inline-block;

        height: 50px;
        margin: 0 2%;

        -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
      }
    }

    .pattern {
      position: absolute;
      left: 0;
      bottom : 0;
      z-index: 1;

      width: 100%;
      background-image: url('../../images/pattern01.png');
      background-repeat: repeat;

      img.hammer, img.hammer_active{
        display: none;
      }
    }
  }
}
