.wrap-container {
  @include outer-container;
}
.container {
  margin: $base-spacing;
  @include outer-container;
  section {
    @include media($medium-screen) {
      @include span-columns(8);
      @include shift(2);
    }
  }
  font-size: 1.2em;
  @include media($medium-screen) {
    font-size: 1.4em;
  }
}
