@media only screen and (min-width: 300px) and (max-width: 1024px) {
  html, body {
    width: 100%;
    font-size: 1em;
  }

  h1 {
    font-size: 1em;
  }

  h2, 
  h3, 
  h4,
  h5,
  h6 { 
    font-size: 0.8em; 
  }

  p {
    font-size: 0.7em;
  }

  .global-nav {
    .wrap-container {
      .global-nav-move {
        display: none;
      }
    }
  }

  .hero {
    .wrap-container {
      .gradient{
        img.center_logo {
          width: 95%;
          padding: 0 1%;
        }
        .vision {
          margin: 0;
          width: 80%;
          font-size: 0.8em;
        }
      }

      .detail {
        display: none;
      }
    }
  }

  .index {
    .container {
      section {
        width: 96%;
        margin-bottom: 7%;
        margin-left: 1%;
      }

      #company {
        p {
          font-size: 1em;
        }
      }

      #bk_gradient {
        #service {
          .phone {
            margin-top: 0;
            margin-bottom: 15%;
            .L, .R {
              width: 28%;
              margin: 0 0 3% 0;
            }

            .F {
              width: 32%;
              margin: 0;
            }
          }
        }  
      }

      #members {
        h1 {
          margin-bottom: $small-spacing;
        }
        h2{
          margin: 0;
          margin-bottom: $small-spacing;
        }

        img {
          width: 10%;
          margin-right: $small-spacing;
        }
      }

      #join_us {
        margin-top: 20%;
        div {
          min-width: 300px;
          margin: 5% auto;
        }

        .communication, .responsibility, .value {
          p {
            min-width: 90%;
          }
        }
      }

      #environment {
        margin-bottom: 0;

        #map {
          width: 100%;
          height: 300px;
          margin: 0;
        }

        #contact {
          margin: $base-spacing 0;
          font-size: 0.8em;
        }
      }

      #trianglify2 img{
        bottom : -$base-spacing;
      }
    }
  }
}
