@media only screen and (min-width: 300px) and (max-width: 1024px) {
  html, body {
    width: 100%;
  }

  .class {
    margin: 0 auto;
  }

  h1 {
    font-size: 1em;
  }

  h2, 
  h3, 
  h4,
  h5,
  h6 { 
    font-size: 0.8em; 
  }

  p {
    font-size: 0.7em;
  }

  .global-nav {
    .wrap-container {
      .global-nav-item {
        img.banner_logo {
          width: 100px;
          @media screen and (max-width: 500px) {
            display: none;
          }
        }
      }

      .global-nav-move {
        display: none;

      }
    }
  }

  .hero {
    .wrap-container {
      img.center_logo {
        padding: 0 2%;
      }

      .vision {
        width: 80%;
      }

      .people_dancing {
        img{
          width: 8%;

          @media screen and (min-width: 500px) {
            width: 5%;
          }
        }
      }

      .detail {
        display: none;
      }
    }
  }

  .index {
    .container {
      section {
        width: 96%;
        margin-bottom: 7%;
        margin-left: 2.3%;
      }

      #bk_gradient {
        #service {
          .phone {
            margin-top: 0;
            margin-bottom: 15%;
            .L, .R {
              width: 28%;
              margin: 0 0 3% 0;
            }

            .F {
              width: 32%;
              margin: 0;
            }
          }
        }  
      }

      #members {
        .member {
          section{
            .black_overlay {
              position: relative;
              left: -2%;
            }
          }
        }
        h1 {
          margin-bottom: $small-spacing;
        }

        img {
          width: 7%;
          margin-right: $small-spacing;
        }
      }

      #join_us {
        margin-top: 20%;
        div {
          min-width: 300px;
          margin: 5% auto;
        }

        .communication, .responsibility, .value {
          p {
            min-width: 90%;
          }
        }
      }

      #environment {
        margin-bottom: 0;

        #map {
          width: 100%;
          margin: 0;
        }

        #contact {
          margin: $base-spacing 0;
        }
      }

      #trianglify2 img{
        bottom : -$base-spacing;
      }
    }
  }

  footer {
    height: 2%;
    a { display: none; }
    .wrap-container-footer {
      padding: $small-spacing;
      address {
        font-size: 0.8em;
      }
    }
  }
}

