.global-nav {
  .wrap-container {
    .global-nav-item {

      img.banner_logo {
        width: 170px;
        margin : 1% 1%;
        float : left;
      }
    }

    .global-nav-move {
      position: fixed;
      right: 0;
      z-index: 2;
      
      ul.global-nav-list {
        display: inline-block;

        li {
          font-size: 1.4em;
          display: inline;
          margin-right: $base-spacing;
        }
      }

      .moving_menu {
        display: inline-block;
        vertical-align: middle;

        width: 80px;

        position: relative;

        .slide_menu {
          padding: 0;
          width: inherit;
          height: inherit;
        }

        #slide_bar {
          position: absolute;
          top : 23.5px;
          left: 29.5px;
          margin: 0;
          padding: 0;
          width: 23px;

          img.bar {
            display: inline-block;
            margin-left: 0.2px;
            width: 3.5px;
            height: 23px;
          }
        }
      }
    }
  }
}
