.global-nav {
  .wrap-container {
    .global-nav-item {
      img.banner_logo {
        width: 7%;
        margin: 1% 1%;
        float : left;
      }
    }

    .global-nav-move {
      font-family: 'Nanum Barun Gothic Bold';
      font-weight: 800;
      position: fixed;
      top: 2%;
      right: 2%;
      z-index: 2;

      ul.global-nav-list {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 2;

        font-size: 0.8em;

        li {
          display: inline;
          margin-right: $base-spacing;
        }
        li:hover {
          cursor: default;
          text-decoration: underline;
        }
      }


      .balloon_menu {
        display: inline-block;
        vertical-align: middle;

        position: relative;

        z-index: 3;

        img {
          height: 40px;

          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }

      }
    }
  }
}
