.index {
 section {
    margin-bottom: $base-spacing * 2;
  }
  #company {
    .members {
      text-align: center;
    }
    img.member {
      width: 10%;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  #service, #vision {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .container section {
    font-size: 1.2em;
    em {
      font-weight: bold;
      font-style: normal;
      @include media($medium-screen) {
        font-size: 1.4em;
        font-style: normal;
      }
    }
  }

  #service {
    a {
      color: $battlecomics-primary-color;
    }
  }
}
