.index {
  .container {
    /*opacity : 0;*/
    font-size : 1.6em;
    text-align : center;

    position : relative;

    #trianglify {
      position : absolute;
      top : 0;
      left : 0;
      z-index : -1;
    }

    section {
      margin : 15% 18.5%;
      width : 63%;

      button {
        display : -webkit-flex;
        display :         flex;
        -webkit-align-items : center;
        align-items : center;
        -webkit-justify-content : center;
        justify-content : center;
      }

      button.arrow { /*arrow down*/
        font-size : 1em;
        color : $medium-gray;
        background-color : white;
      }

      button.arrowReverse { /*arrow up*/
        font-size : 1em;
        color : $medium-gray;
        background-color : white;
      }
    }

    #company {
      img.member {
        width: 10%;

        /*&:hover {*/
          /*opacity: 0.8;*/
        /*}*/
      }

      p {
        margin-top : $small-spacing;
      }
    }

    #service, #vision {
      img {
        display: block;
        margin : 0 auto;
      }
    }

    #service {
      a {
        color: $battlecomics-primary-color;
      }
    }

    #members {
      text-align : center;

      section {
        display : inline-block;
        .profile {
          .profile__name {
            clear : left;
            color: #787878;
          }
          .profile__position {
            color: #9664bd;
          }
        }

        p {
          text-align : center;
          display : none;
        }

        #example {
          text-align : left;
          display : none;
        }
      }
    }
  }
}
