.index {
  .container {
    width: 100%;

    font-size : 1.2em;

    text-align : center;
    position: relative;
    padding-left: 0;
    border: 0;

    canvas#trianglify {
      width: 100%;
      height: 800px;

      position: relative;
      top: 0;
      left: 0;

      z-index: 0;
    }

    #trianglify2 img{
      width: 100%;
      margin: 0;
      position: absolute;
      bottom: -$base-spacing*4;
      left: 0;

      z-index: -1;
    }


    section {
      margin-bottom : 20%;
    }

    #company {
      position: relative;
      top : -500px;
      p#found {
        color: black;
      }

      p#content {
        margin-top : $small-spacing;
      }
    }


    #bk_gradient {
      width: 100%;

      background: -webkit-linear-gradient(#9869b5, #64cabd);
      background: -o-linear-gradient(#9869b5, #64cabd);
      background: -moz-linear-gradient(#9869b5, #64cabd);
      background: linear-gradient(#9869b5, #64cabd);

      color: white;

      img.bulb {
        display: inline-block;
        position: relative;
        top: -165px;
      }

      h1 {
        position: relative;
        top: -150px;
        font-weight: normal;
        font-size: 1.6em;
      }

      #service {
        margin-bottom: 10%;

        .content{
          display: inline-block;
          position: relative;
          left: -$base-spacing;

          text-align: right;

          p {
            margin-bottom: $base-spacing;
          }
        }

        .phone {
          display: inline-block;
          position: relative;
          top: 60px;
          right: -$base-spacing*3;

          text-align: center;

          .L {
            margin-bottom: 60px;
          }
          .F {
            margin-top: 30px;
          }
          .R {
            margin-bottom: 60px;
          }
        }

        a {
          color: $battlecomics-primary-color;
        }

      }

      #vision {
        margin-bottom: 0;

        img {
          margin-bottom: $base-spacing;
        }
        p#content {
          margin-top: $small-spacing;
          margin-bottom: 0;
        }
      }
    }

    #gradient {
      height: 300px;
      margin-bottom: 20%;

      background: -webkit-linear-gradient(#64cabd, #ffffff);
      background: -o-linear-gradient(#64cabd, #ffffff);
      background: -moz-linear-gradient(#64cabd, #ffffff);
      background: linear-gradient(#64cabd, #ffffff);
    }

    #members {
      h1 {
        margin-bottom: $base-spacing * 3;
        color: black;
        font-weight: 550;
        font-size: 2em;
      }

      h2 {
        display: inline-block;
        color: #3d4d51;
        font-weight : 530;
        margin-top : $base-spacing;
        border-bottom: 4px solid #a32c2c;
      }
      img {
        width: 5%;
        display: inline-block;
        margin-right: 2em;
      }
      p {
        margin-top: $small-spacing;
      }
    }

    #join_us {
      display: block;
      height: 300px;

      text-align: center;

      div {
        width: 25%;
        height: inherit;
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;

        background-color: #bbb;
        opacity: .7;
        color: white;
      }

      p {
        display: block;
      }

      #head {
        margin-top: 145px;
      }

      #content {
        opacity: 0;
      }

      .communication {
        #content {
          margin-top: 0;
        }
      }

      .responsibility {
        #content {
          margin-top: 0;
        }
      }

      .value {
        #content {
          margin-top: 0;
        }
      }
    }

    #environment {
      margin-bottom: $base-spacing *4;

      h1 {
        display: inline-block;
        color: #767676;
        font-weight : 530;
        border-bottom: 4px solid #a32c2c;
        margin-bottom: $base-spacing;
      }

      .icon{
        display: block;
        margin-bottom: $base-spacing * 3;

        div {
          display: inline-block;
          width: 15%;
          height: 240px;

          margin: 0;
        }
      }

      #map {
        margin-left: 20%;
        margin-bottom: $base-spacing;
        width: 60%;
        height: 400px;
      }

      #contact {
        height: 40px;
        width : 17%;

        font-weight: bold;
        padding-top: 5px;

        display: block;

        margin: $base-spacing*2 auto 0 auto;

        border: 1px solid #808080;
        border-radius: 100px;
      }
    }
  }
}
