.team {
  .wrap-container section {
    margin-bottom: $base-spacing * 2;
  }
  .profile {
    .profile__name {
      display: inline;
      color: #787878;
    }
    .profile__position {
      color: #9664bd;
    }
  }
}

