%header.hero{role: "banner"}
  = partial "partials/nav"

  %section.wrap-container
    = image_tag('ci-white.png', alt: 'The Whale Games')
    %p
      더웨일게임즈는 <q>세상을 더 재미있게 만든다</q>라는 비전을 가지고 모인
      팀입니다.
