%nav.global-nav{role: "navigation"}
  %section.wrap-container
    %header.global-nav-item.logo-text
      = link_to "The Whale Games", "/"
    %ul.global-nav-list
      %li.global-nav-item= link_to "팀 소개",  "/team.html"
      %li.global-nav-item= link_to "업무환경", "/environment.html"
      %li.global-nav-item= link_to "인재상", "/join-us.html"
