%nav.global-nav{role: "navigation"}
  %section.wrap-container
    %header.global-nav-item.logo
      = image_tag("../images/ci-white.png", class: 'banner_logo')
    %ul.global-nav-list
      %li.global-nav-item= "works"
      %li.global-nav-item= "team"
      %li.global-nav-item= "contact"
