%nav.global-nav{role: "navigation"}
  %section.wrap-container
    %header.global-nav-item.logo-text
      = "The Whale Games"
    %ul.global-nav-list
      %li.global-nav-item= "팀 소개"
      %li.global-nav-item= "업무환경"
      %li.global-nav-item= "인재상"
