#company {
  position: relative;
  top : -500px;

  h1 {
    margin: 0;
    margin-top : 0.6*$base-spacing;
    font-size: 2em;
    color: $black;
  }

  p {
    margin: 0;
    font-size: 1.4em;
    margin-top : 0.6*$base-spacing;
    color: $black;
  }
}
