#company {
  position: relative;
  top : -500px;

  h1 {
    font-family:'Apple SD Gothic Neo Bold', 'Nanum Barun Gothic Bold';
    margin: 0;
    margin-top : 0.6*$base-spacing;
    font-size: 2em;
    color: $black;
  }

  p {
    font-family: 'Apple SD Gothic Neo Thin', 'Nanum Barun Gothic UltraLight';
    margin: 0;
    font-size: 1.4em;
    margin-top : 0.6*$base-spacing;
    color: $black;
  }
}
