#members {
  position: relative;

  h1 {
    margin-bottom: $base-spacing * 2;
    color: black;
  }

  h2 {
    display: inline-block;
    color: #3d4d51;
    border-bottom: 4px solid #a32c2c;
  }

  img {
    width: 5%;
    display: inline-block;
    margin-right: 2em;
  }
}
