/*@import "eslee";*/
/*@import "fred";*/
/*@import "jhlim";*/
/*@import "jwheo";*/
/*@import "kyjung";*/
/*@import "sbpark";*/
/*@import "skkwon";*/
/*@import "skyoon";*/
/*@import "sybae";*/

.black_overlay {
  display: none;
  position: relative;
  background-color: black;
  z-index: 1001;
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: .95;
  filter: alpha(opacity=95);

}
