// Typography
@font-face {
  font-family: 'Nanum Barun Gothic Regular';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url("../../fonts/nanumbarungothicregular.eot");
  src: url("../../fonts/nanumbarungothicregular.eot?#iefix") format('embedded-opentype'),
  url("../../fonts/nanumbarungothicregular.woff") format('woff'),
  url("../../fonts/nanumbarungothicregular.ttf") format('truetype'),
  url("../../fonts/nanumbarungothicregular.svg") format('svg');
}

@font-face {
  font-family: 'Nanum Barun Gothic Bold';
  font-style: normal;
  font-weight: 900;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url("../../fonts/nanumbarungothicbold.eot");
  src: url("../../fonts/nanumbarungothicbold.eot?#iefix") format('embedded-opentype'),
  url("../../fonts/nanumbarungothicbold.woff") format('woff'),
  url("../../fonts/nanumbarungothicbold.ttf") format('truetype'),
  url("../../fonts/nanumbarungothicbold.svg") format('svg');
}

@font-face {
  font-family: 'Nanum Barun Gothic Light';
  font-style: normal;
  src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src: url("../../fonts/nanumbarungothiclight.eot");
  src: url("../../fonts/nanumbarungothiclight.eot?#iefix") format('embedded-opentype'),
  url("../../fonts/nanumbarungothiclight.woff") format('woff'),
  url("../../fonts/nanumbarungothiclight.ttf") format('truetype'),
  url("../../fonts/nanumbarungothiclight.svg") format('svg');
}

@font-face {
  font-family: 'Nanum Barun Gothic UltraLight';
  font-style: normal;
  src: local('Nanum Barun Gothic UltraLight'), local('Nanum Barun Gothic-UltraLight'), local('NanumBarunGothic UltraLight');
  src: url("../../fonts/nanumbarungothicultralight.eot");
  src: url("../../fonts/nanumbarungothicultralight.eot?#iefix") format('embedded-opentype'),
  url("../../fonts/nanumbarungothicultralight.woff") format('woff'),
  url("../../fonts/nanumbarungothicultralight.ttf") format('truetype'),
  url("../../fonts/nanumbarungothicultralight.svg") format('svg');
}

$base-font-family: "Apple SD Gothic Neo", "네오고딕", "나눔바른고딕", "Nanum Barun Gothic", "돋움", Dotum, "Helvetica", "Roboto", "Arial", sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.2em;
$heading-font-size: 2em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$ci-primary: #be1e2d;
$battlecomics-primary-color: #542A68;
$black: #323232;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #787878;
$light-gray: #ddd;

// Font Colors
$base-background-color: #fff;
$base-font-color: $medium-gray;
$action-color: $ci-primary;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
