---
title: "The Whale Games"
---

= partial "partials/hero"

.wrap-container
  %section#company
    %p
      2013년 6월에 설립되었고, 대기업-게임회사-스타트업 등의 다양한 백그라운드를
      가진 8명의 인재들이 함께하고 있습니다.

  %section#service
    %p
      게임 전문 웹툰 서비스인 <q>배틀코믹스</q>를 서비스하고 있습니다.

    %p
      배틀코믹스는 현재 약 90여명의 작가들이 작품을 연재 중이며, 구글 스토어 평점
      4.9의 높은 평가를 받고 있습니다.

  %section#vision
    %p
      2015년 중 예정된, 중국 서비스 런칭을 시작으로 다양한 글로벌 지역에 진출을
      준비 중입니다.

