---
title: "배틀코믹스에서 개발자를 찾습니다"
layout: joinus
---

.container
  %article
    %h1 <a href="http://www.battlecomics.co.kr">배틀코믹스</a>에서 개발자를 찾습니다

    = image_tag 'wantu.jpg'

    %h2 기술스택
    %p
      = link_to "http://stackshare.io/the-whale-games/battlecomics", "http://stackshare.io/the-whale-games/battlecomics"

    %p
      배틀코믹스의 서버들은 Ruby on Rails와 Play Framework를 사용하고 있습니다. 데이터 저장은 주로 MySql을 사용하고 있으며 일부 서비스에서 postgresql을 사용합니다. 빌드와 배포를 자동화하는데 노력을 기울이고 있으며 docker를 활용한 빌드와 배포를 준비하고 있습니다. Ruby on Rails는 rails 5 출시에 대비해 마이그레이션을 진행 중이며 Play Framework는 현재 Java로 작성되어 있으나 Scala로 넘어가기 위해 준비하고 있습니다.

    %p
      안드로이드 앱은 fresco, butterknife, otto등 다양한 오픈소스를 적극적으로 활용하고 있으며 RxJava나 kotlin 등 새로운 기술을 활용하기 위해 준비 중입니다.

    %p
      iOS 앱은 swift로 작성되어 있으며 역시 Alamofire 등 다양한 오픈소스를 활용하고 있습니다.

    %p
      서비스에서 얻어지는 귀중한 데이터들은 AWS SQS, Logstash, ElasticSearch를 이용하여 수집, 정제하여 서비스 개발에 활용하고 있습니다.

    %p
      Github와 Bitbucket을 통해 소스 코드를 관리하고 있으며 Confluence와 Trello를 적극 활용하고 있으며 TDD(Test Driven Development)을 지향합니다.

    %hr

    %h2 모집분야

    %h3 Ruby on Rails 개발자
    %h4 자격요건
    %ul
      %li 신입/경력 무관
      %li Ruby on Rails 개발 경험
    %h4 우대 조건
    %ul
      %li TDD 경험 우대
      %li HTML, SCSS, CoffeeScript 경험 우대
      %li 오픈소스 프로젝트 활동
      %li AWS, Docker 경험자

    %h3 Frontend 개발자
    %h4 자격요건
    %ul
      %li 웹표준
      %li CSS(SCSS), JavaScript(CoffeeScript)
    %h4 우대조건
    %ul
      %li 경력 우대
      %li React.js 경험 우대

    %h3 모바일 앱 개발자(Android/iOS)
    %h4 자격 요건
    %ul
      %li 신입/경력 무관
      %li Android / iOS 프레임워크, 컴포넌트에 대한 이해
    %h4 우대 조건
    %ul
      %li Swift, Kotlin, RxJava, RxSwift 경험 우대

    %hr

    %h2 지원 자격 및 우대사항
    %ul
      %li 게임과 웹툰 둘 중에 하나라도 좋아하시는 분이었으면 합니다. 둘 다 좋아하신다면 더할 나위 없이 좋습니다.
      %li 새로운 기술은 무조건 써봐야 직성이 풀린다 싶으신 분들을 환영합니다.
      %li 학력이나 전공은 무관합니다.
      %li 나이는 숫자에 불과합니다.

    %hr

    %h2 제출 서류 및 접수방법
    %ul
      %li 자기 소개서/이력서를 작성해주세요. 어떤 분인지 알고 싶습니다.
      %li Github 페이지를 보내주세요.
    %p
      위 내용을 <a href="mailto:recruit@thewhalegames.com">recruit@thewhalegames.com</a>으로 보내주시면 곧 연락드리겠습니다.

%footer
  .container
