---
title: 팀 소개 | The Whale Games
members:
  - fred
  - skyoon
  - jwheo
  - skkwon
  - skjang
  - shkim
  - kyjung
  - eslee
---

= partial "partials/nav"

.wrap-container.main
  %ul
    - current_page.data.members.each do |member|
      %li
        = partial "partials/members/#{member}"
