---
title: 팀 소개 | The Whale Games
members:
  - fred
  - skyoon
  - jwheo
  - skkwon
  - kyjung
  - eslee
  - sbpark
  - jhlim
  - sybae
---

= partial "partials/nav"

.container
  - current_page.data.members.each do |member|
    %section{id: "#{member}"}
      = partial "partials/members/#{member}"
