#vision {
  margin-bottom: 0;

  img {
    margin-bottom: $base-spacing;
  }

  #conqueringChina {
    font-size: 1.8em;
    color: white;
  }

  p#vision_content {
    margin-top: $small-spacing;
    margin-bottom: 0;
  }
}
