#service {
  opacity: 0;
  margin-top: 25%;
  margin-bottom: 10%;

  .content{
    display: inline-block;

    text-align: right;

    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);

    p {
      margin-bottom: $base-spacing;
      margin-left: $base-spacing;

      #battlecomics{
        font-size: 2em;
        font-weight: 900;
        color: $battlecomics-primary-color;
      }
    }
  }

  .phone {
    display: inline-block;
    margin-top: $base-spacing * 2;

    text-align: center;

    .L {
      margin-bottom: 60px;  
      margin-right: $base-spacing;
    }
    .F {
      margin-top: 30px;
    }
    .R {
      margin-bottom: 60px;  
      margin-left: $base-spacing * 2;
    }
  }

  a {
    color: $battlecomics-primary-color;
  }
}
