#company {
  position: relative;
  top : -500px;
  p#found {
    color: black;
    font-size: 1.8em;
    font-weight: 900;
    font-style: normal;
  }

  p#company_content{
    margin-top : $small-spacing;
  }
}
